body {
    margin: 0;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}

header {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url("https://viktoriia-fcodetc.github.io/fullscreen-landing-hw/imgs/beachshowcase.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
    line-height: 0.73;
}
h1 {
    font-size: 50px;
    margin: 0;
}

.header {
    height: 100vh;
    color: #926239;
    text-align: center;
    margin: 0;
    padding-top: 41vh;
    font-size: 20px;
}

.header p {
    padding-bottom: 10px;
}

main p {
    padding: 20px;
    margin: 0;
    text-align: center;
}

.button {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #926239;
    border: #926239 1px solid;
    padding: 18px 20px;
    border-radius: 10px;
}

.button:hover {
    background-color: #926239;
    color: #fff;
}

.brownbg {
    background-color: #926239;
    color: #fff;
}

.whitebg {
    background-color: #fff;
    color: #926239;
}

.columns {
    column-count: 3;
    column-width: 33%;
}

.columns p {
    padding: 20px;
    text-align: justify;
}

* {
    box-sizing: border-box;
}